{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Information</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div style="padding: 2rem;">
        <h2>Account Information</h2>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Contact:</strong> {{ user.contact }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        
        
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
           
            
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>
