{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div style="padding: 2rem;">
        <h2>Change Password</h2>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'account' %}"><button>Back</button></a>
    </div>
</body>
</html>
