{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'change_password.css' %}">
    <link rel="icon" type="image/x-icon" href="/media/uploads/products/kwikly.png">
</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="center-container">
        <div class="content-box">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            <h2>Change Password</h2>
            <form method="post" action="{% url 'change_password' %}" class="change-password-form">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="submit-btn">Save Changes</button>
            </form>
            <div class="back-link-container">
                <a href="{% url 'account' %}" class="back-link">Back to account</a>
            </div>
        </div>
    </div>
</body>
</html>