{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="icon" type="image/x-icon" href="/media/uploads/products/kwikly.png">
    <link rel="stylesheet" href="{% static 'edit_style.css' %}">
</head>
<div class="center-container">
    <h2>Edit Store</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Store Name Input -->
        <label for="store_name">Store Name</label>
        <input type="text" id="store_name" name="store_name" value="{{ store.store_name }}" required>

        <!-- Address Input -->
        <label for="address">Address</label>
        <input type="text" id="address" name="address" value="{{ store.address }}" required>

        <!-- Submit Button -->
        <button type="submit" class="submit-btn">Save Changes</button>
    </form>

    <!-- Back to Stores Link -->
    <a href="{% url 'manage_stores' %}" class="back-link">Back to Stores</a>
</div>
