{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'store' %}">Kwikly</a>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <!-- If the user is a superuser -->
                        <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a> |
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <!-- If the user is not a superuser -->
                        <a href="{% url 'account' %}">Account</a> |
                        <a href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                {% else %}
                    <!-- If the user is not authenticated -->
                    <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
</header>

