{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Categories</title>
    <link rel="icon" type="image/x-icon" href="/media/uploads/products/kwikly.png">
    <link rel="stylesheet" href="{% static 'manages_style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    {% include 'components/sidebar.html' %}

    <div class="page-content">
        <div class="center-container">
            {% if messages %}
                <div class="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <h2 class="page-title">Manage Categories</h2>
            <!-- Styled Add New Category Button -->
            <a href="{% url 'add_category' %}" class="add-user-btn">Add Category</a> <!-- Apply the button styling here -->

            <table>
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.type }}</td>
                        <td>
                            <a href="{% url 'edit_category' category.category_id %}" class="edit-btn">Edit</a>
                            <a href="{% url 'delete_category' category.category_id %}" class="delete-btn">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>